.safe-area {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.input-style {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 3px;
}

.input-style:focus-within {
  outline: none;
  transition: .1s;
  box-shadow: 0 0 1pt 1pt grey;
}

input {
  flex-grow: 2;
  border: none;
}

input:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .safe-area {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 16px;
  }
}