.safe-area-bottom {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: env(safe-area-inset-bottom, '100px');
  margin-bottom: 2px;
  background-color: violet;
}

input:focus {
  outline: none;
  transition: .1s;
  box-shadow: 0 0 1pt 1pt grey;
}