$btn-border-radius: 0;
$form-select-border-radius: 0;
$form-select-border-radius-sm: 0;
$form-select-border-radius-lg: 0;
$form-select-focus-box-shadow: 0 0 1pt 1pt grey;
$form-select-border-width: 1px;
$form-select-border-color: black;
$form-select-focus-border-color: black;
$gray-400: #ced4da;
$light: $gray-400;
@import '~bootstrap/scss/bootstrap.scss';